---
- name: Ensure fedora is updated
  ansible.builtin.dnf:
    name: "*"
    state: latest
  become: true
  when: ansible_facts['distribution'] == "Fedora"

- name: "Disable SWAP"
  ansible.builtin.command: swapoff -a
  become: true
  when: ansible_facts['swaptotal_mb'] > 0
  register: swapoff_command

# - name: "Disable service swap"
#   ansible.builtin.systemd:
#     name: swap-create@zram0
#     enabled: false
#     state: stopped
#   become: true
#   when: ansible_facts['swaptotal_mb'] > 0
#   register: swap_service

- name: Ensure zram generator is not installed
  ansible.builtin.dnf:
    name: "zram-generator-defaults"
    state: absent
  when: ansible_facts['distribution'] == "Fedora"
  become: true
  register: zram_package

- name: Reboot server if swap disabled
  ansible.builtin.reboot:
    msg: "Rebooting to apply swap changes"
    pre_reboot_delay: 5
  when: swapoff_command.changed or zram_package.changed
  become: true

- name: "Disable Firewalld service"
  ansible.builtin.systemd:
    name: firewalld
    enabled: false
    state: stopped
  become: true

- name: Install iptables iproute-tc
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: present
  become: true
  with_items:
    - iptables
    - iproute-tc
  when: ansible_facts['distribution'] == "Fedora"

- name: Configurer les modules kernel
  ansible.builtin.blockinfile:
    path: /etc/modules-load.d/k8s.conf
    create: true
    mode: '0644'
    owner: root
    group: root
    block: |
      overlay
      br_netfilter
  become: true

- name: Load Overlay module
  ansible.builtin.command: modprobe overlay
  become: true

- name: Load bridge filter module
  ansible.builtin.command: modprobe br_netfilter
  become: true

- name: Configure Brdidge networking settings
  ansible.builtin.blockinfile:
    path: /etc/sysctl.d/k8s.conf
    create: true
    mode: '0644'
    owner: root
    group: root
    block: |
      net.bridge.bridge-nf-call-ip6tables = 1
      net.bridge.bridge-nf-call-iptables = 1
      net.ipv4.ip_forward = 1
  become: true

- name: Apply sysctl params without reboot
  ansible.builtin.command: sysctl --system
  become: true

- name: Ensure SELinux is set to permissive
  ansible.builtin.command: setenforce 0
  when: ansible_facts['selinux']['status'] == "enabled"
  become: true

- name: Ensure SELinux config file is set to permissive
  ansible.builtin.replace:
    path: /etc/selinux/config
    regexp: '^SELINUX=enforcing$'
    replace: 'SELINUX=permissive'
  become: true
