---
- name: Ensure .config directories exist
  ansible.builtin.file:
    path: "{{ ansible_user_dir }}/.config"
    state: directory
    mode: '0755'

- name: Link Config Files (Stow-like)
  ansible.builtin.file:
    src: "{{ playbook_dir }}/../dotfiles/{{ item }}"
    dest: "{{ ansible_user_dir }}/.config/{{ item }}"
    state: link
    force: true
  loop:
    - nvim
    - fish
    - nushell
    - starship.toml

- name: Change Default Shell to Fish (Optional)
  ansible.builtin.user:
    name: "{{ ansible_user_id }}"
    shell: /usr/bin/fish
  become: true
  ignore_errors: true
