---
- name: Add Kubernetes YUM repository
  ansible.builtin.yum_repository:
    name: kubernetes
    description: Kubernetes
    baseurl: https://pkgs.k8s.io/core:/stable:/v1.31/rpm/
    enabled: true
    gpgcheck: true
    gpgkey: https://pkgs.k8s.io/core:/stable:/v1.31/rpm/repodata/repomd.xml.key
  become: true

- name: Add OpenTofu repository
  ansible.builtin.get_url:
    url: https://packagecloud.io/install/repositories/opentofu/tofu/config_file.repo?os=fedora&dist=39&source=script
    dest: /etc/yum.repos.d/opentofu.repo
  become: true

- name: Install System Packages
  ansible.builtin.dnf:
    name: "{{ packages_common + packages_fedora + ['opentofu', 'kubectl'] }}"
    state: present
  become: true

- name: Ensure Flathub remote exists
  community.general.flatpak_remote:
    name: flathub
    state: present
    url: https://dl.flathub.org/repo/flathub.flatpakrepo

- name: Install Podman Desktop (Flatpak)
  community.general.flatpak:
    name: io.podman_desktop.PodmanDesktop
    remote: flathub
    state: present

- name: Check if Sops is installed
  ansible.builtin.command: which sops
  register: sops_check
  failed_when: false
  changed_when: false

- name: Download Sops binary
  ansible.builtin.get_url:
    url: https://github.com/getsops/sops/releases/download/v3.8.1/sops-v3.8.1.linux.amd64
    dest: /usr/local/bin/sops
    mode: '0755'
  become: true
  when: sops_check.rc != 0

- name: Create symlink for Terraform -> OpenTofu
  ansible.builtin.file:
    src: /usr/bin/tofu
    dest: /usr/local/bin/terraform
    state: link
    force: true
  become: true
  ignore_errors: true
